.footer {
    max-width: calc(320px + (1296 - 320) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    margin-top: 90px;
}
.left_box {
    max-width: calc(100px + (200 - 100) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.left_box p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    line-height: 18.9px;
    color: white;
}
.right_box {
    width: 250px;
    max-width: calc(100px + (300 - 100) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.right_box p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    line-height: 18.9px;
    color: white;
    text-align: right;
}