.header {
    max-width: 1298px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav {
    max-width: 675px;
    min-height: 19px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.items {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18.9px;
    color: white;
    transition: all .2s ease-out;
    padding-left: 50px;
}
.items:first-child {
    padding: 0;
}
.items:hover {
    color: rgb(157, 157, 157);
}
.burger_menu {
    max-width: 40px;
    width: 100%;
    min-height: 40px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.burger_line {
    width: 100%;
    height: 3px;
    background-color: white;
}
.registration {
    max-width: calc(120px + (155 - 120) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 3px;
    background-color: #018ABE;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    transition: all .3s ease-out;
    padding: calc(10px + (10 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.registration:hover {
    background-color: #005374;
}
@media screen and (max-width:930px) {
    .header {
        justify-content: center;
        flex-direction: column;
    }
    .nav {
        margin: 25px 0;
    }
}
@media screen and (max-width:710px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav {
        display: none;
    }
    .burger_menu {
        display: flex;
        width: 35px;
        height: 35px;
    }
    .registration {
        margin: 25px 0;
    }
    .logo img {
        width: 35px;
        height: 35px;
    }
}