.header {
    max-width: 1298px;
    width: 100%;
    min-height: 60px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}
.nav {
    max-width: 655px;
    width: 100%;
    min-height: 19px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.items {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18.9px;
    color: white;
    transition: all .2s ease-out;
}
.items:hover {
    color: rgb(157, 157, 157);
}
.registration {
    max-width: 155px;
    width: 100%;
    min-height: 36px;
    height: 100%;
    border-radius: 3px;
    background-color: #018ABE;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
    transition: all .3s ease-out;
}
.registration:hover {
    background-color: #005374;
}