.main_wrapper {
    max-width: 1920px;
    min-height: 5155px;
    background-color: #162831;
    margin: 0 auto;
    padding-top: 30px;
}
@media screen and (max-width:1200px) {
    .main_wrapper {
        padding: 0 20px 0 20px;
    }
}