.section_6 {
    width: 100%;
    margin-top: calc(30px + (150 - 30) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_container_section_6 {
    max-width: calc(800px + (1296 - 800) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
}
.container_location_map img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.container_adress {
    max-width: calc(276px + (425 - 276) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.address {
    max-width: calc(276px + (392 - 276) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #018ABE;
    border-radius: 10px;
}
.address:last-child {
    margin-top: 12px;
    max-width: calc(220px + (392 - 220) * ((100vw - 320px) / (1920 - 320)));
}
.address:first-child {
    margin-bottom: 12px;
    max-width: calc(220px + (392 - 220) * ((100vw - 320px) / (1920 - 320)));
}
.address_text_box {
    max-width: calc(200px + (392 - 200) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 30px;
}
.address_text_box img {
    margin-right: 20px;
}
.address_text_1 {
    width: 100%;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: 33.6px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: calc(11px + (21 - 11) * ((100vw - 320px) / (1920 - 320)));
}
.address_text_2 {
    width: 100%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    line-height: 18.9px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: calc(11px + (21 - 11) * ((100vw - 320px) / (1920 - 320)));
}
.address_text_3 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 18.9px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: calc(11px + (21 - 11) * ((100vw - 320px) / (1920 - 320)));
}
.address_text_4 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 18.9px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.btn {
    width: 155px;
    height: 36px;
    background-color: white;
    color: #018ABE;
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 18.2px;
    border-radius: 3px;
    transition: all .3s ease-out;
}
.btn:hover {
    background-color: #005374;
    color: white;
}
@media screen and (max-width:815px) {
    .main_container_section_6 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .container_adress {
        display: block;
    }
    .address:first-child {
        margin-top: 20px;
    }
    .address:last-child {
        margin-top: 20px;
    }
}