.section_6 {
    max-width: calc(300px + (1296 - 300) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container_location_map {
    max-width: calc(300px + (856 - 300) * ((100vw - 320px) / (1920 - 320)));
    border: 1px solid yellow;
    position: relative;
}
.container_location_map img {
    max-width: calc(276px + (856 - 276) * ((100vw - 320px) / (1920 - 320)));
}
.container_adress {
    max-width: calc(276px + (425 - 276) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.address {
    max-width: calc(276px + (392 - 276) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #018ABE;
    border-radius: 10px;
    margin-top: calc(20px + (0 - 20) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 12px;
}
.address:last-child {
    margin-top: 12px;
}
.address_text_box {
    width: 392px;
    height: 225px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 30px;
}
.address_text_box img {
    margin-right: 20px;
}
.address_text_1 {
    width: 100%;
    /* border: 1px solid yellow; */
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.address_text_2 {
    width: 100%;
    height: 20px;
    /* border: 1px solid yellow; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18.9px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.address_text_3 {
    width: 100%;
    /* border: 1px solid yellow; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.address_text_4 {
    width: 100%;
    /* border: 1px solid yellow; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn {
    width: 155px;
    height: 36px;
    background-color: white;
    color: #018ABE;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    border-radius: 3px;
    transition: all .3s ease-out;
}
.btn:hover {
    background-color: #005374;
    color: white;
}