.section_4 {
    max-width: 1076px;
    width: 100%;
    min-height: 1024px;
    height: 100%;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.title_sec_4_box {
    width: 100%;
    min-height: 59px;
    height: 100%;
    /* border: 1px solid yellow; */
}
.title_sec_4_text {
    max-width: 389px;
    width: 100%;
    min-height: 59px;
    height: 100%;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 58.8px;
    color: white;
}
/* ------------------------------container_one------------------------------ */
.container_sec_4_one {
    max-width: 527px;
    width: 100%;
    min-height: 850px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.text_box_cont_one {
    width: 100%;
    min-height: 235px;
    /* border: 1px solid yellow; */
    margin-top: 50px;
}
.img_box_cont_one {
    width: 526px;
    height: 400px;
    /* border: 1px solid yellow; */
    background-image: url(../img/img_section_4_\ cont_one.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_title_cont_one {
    width: 406px;
    height: 34px;
    /* border: 1px solid yellow; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: white;
    margin-bottom: 30px;
}
.sub_text_title_cont_one {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    color: white;
    opacity: .7;
}
.sub_text_title_cont_one p:nth-child(1) {
    width: 100%;
    max-width: 485px;
    min-height: 120px;
    height: 100%;
    /* border: 1px solid yellow; */
}
.sub_text_title_cont_one p:nth-child(2) {
    width: 100%;
    max-width: 485px;
    /* border: 1px solid yellow; */
}
/* ------------------------------container_two------------------------------ */
.container_sec_4_two {
    max-width: 527px;
    width: 100%;
    min-height: 850px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.img_box_cont_two {
    width: 100%;
    min-height: 365px;
    height: 100%;
    /* border: 1px solid yellow; */
    background-image: url(../img/img_section_4_\ cont_two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_box_cont_two {
    width: 100%;
    max-width: 500px;
    min-height: 390px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 25px;
}
.text_title_cont_two {
    width: 415px;
    height: 34px;
    /* border: 1px solid yellow; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
}
.sub_text_title_cont_two {
    width: 100%;
    height: 338px;
    /* border: 1px solid yellow; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    opacity: .7;
}
.sub_text_title_cont_two p:nth-child(1) {
    width: 100%;
    height: 150px;
    /* border: 1px solid yellow; */
}
.sub_text_title_cont_two p:nth-child(2) {
    width: 100%;
    height: 150px;
    /* border: 1px solid yellow; */
    margin-top: 20px;
}

@media screen and (max-width:1024px) {
    .section_4 {
        display: flex;
        flex-direction: column;
    }
    .container_sec_4_one {
        align-content: unset;
        margin: 0 auto;
    } 
    .container_sec_4_two {
        align-content: unset;
        margin: 0 auto;
        flex-direction: column-reverse;
        margin-top: -25px;
    }
    .sub_text_title_cont_two {
        margin-bottom: 70px;
    }
    .text_title_cont_two {
        margin-bottom: 20px;
    }
}