.section_2 {
    max-width: calc(320px + (1920 - 320) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-top: calc(80px + (150 - 80) * ((100vw - 320px) / (1920 - 320)));
}
.container {
    max-width: calc(300px + (1920 - 300) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.container img {
    position: relative;
}
.container a {
    position: absolute;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320)));
    max-width: calc(300px + (416 - 300) * ((100vw - 320px) / (1920 - 320)));
    color: white;
}
.title_section_2 {
    max-width: calc(320px + (1296 - 320) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: calc(80px + (150 - 80) * ((100vw - 320px) / (1920 - 320)));
}
.title_section_2 p {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 42px;
    font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: white;
}
.title_section_2 img:first-child {
    margin-right: 50px;
}
.title_section_2 img:last-child {
    margin-left: 50px;
}
.img_box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: calc(150px + (435 - 150) * ((100vw - 320px) / (1920 - 320)));
}
.img_box img {
    max-width: calc(150px + (416 - 150) * ((100vw - 320px) / (1920 - 320)));
}
.img_box a {
    margin-bottom: 30px;
    max-width: calc(200px + (336 - 200) * ((100vw - 320px) / (1920 - 320)));
    margin-left: calc(15px + (0 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.img_hub {
    max-width: calc(400px + (880 - 400) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.img_hub img {
    margin: 12px;
    max-width: calc(100px + (400 - 100) * ((100vw - 320px) / (1920 - 320)));
}
.img_box_1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.img_box_1 img {
    max-width: calc(160px + (400 - 150) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_box_1 a {
    margin-bottom: 30px;
    max-width: calc(200px + (336 - 200) * ((100vw - 320px) / (1920 - 320)));
    margin-left: calc(15px + (0 - 15) * ((100vw - 320px) / (1920 - 320)));
}