.section_3 {
    width: 100%;
    margin: 0 auto;
    margin-top: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title_two_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
}
.title_two_box img {
    max-width: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}
.title_two_box p {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(15px + (42 - 15) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    margin-left: calc((20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))));
    margin-right: calc((20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))));
}
/* ------------------------------------------------------------------------------------------ */
.container_sec_3 {
    max-width: calc(710px + (1736 - 710) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* --------------------------------review---------------------------------- */
.review {
    max-width: calc(250px + (500 - 250) * ((100vw - 320px) / (1920 - 320)));
    transition: all .4s;
    opacity: .7;
    border-radius: 10px;
    background-color: #0188be6f;
}
.review:nth-child(1) {
    margin-right: 50px;
}
.review:nth-child(3) {
    margin-left: 50px;
}
.review:hover {
    transform: scale(1.2);
    background-color: #018ABE;
    opacity: 1;
}
.review p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: calc(8px + (10 - 8) * ((100vw - 710px) / (1920 - 320)));
    color: white;
}
.container_sec_3 h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    margin-top: calc(10px + (40 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-left: calc(10px + (45 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(10px + (45 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(8px + (30 - 8) * ((100vw - 320px) / (1920 - 320)));
}
.container_sec_3 p {
    margin-left: calc(10px + (45 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(10px + (45 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}

/* -------------------------------------Control---------------------------------------- */
.controls {
    width: 100%;
    min-height: 16px;
    height: 16px;
    margin-top: 40px;
}
.cotrol_box {
    max-width: 124px;
    height: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.control_cubik {
    width: 16px;
    height: 16px;
    background-color: gray;
    border-radius: 3px;
    transition: all .2s ease-in;
}
.control_cubik:hover {
    width: 15px;
    height: 15px;
    transform: scale(1.2);
    background-color: white;
}
@media screen and (max-width:1416px) {
    .container_sec_3 {
        max-width: 1200px;
    }
    .review {
        margin: 20px auto;
        max-width: calc(250px + (900 - 250) * ((100vw - 320px) / (1920 - 320)));
    }
}
@media screen and (max-width:720px) {
    .section_3 {
        display: block;
        margin-top: 50px;
    }
    .review:nth-child(1) {
        margin: 20px auto;
    }
    .review:nth-child(3) {
        margin: 20px auto;
    }
    .control_cubik {
        width: 12px;
        height: 12px;
    }
    .control_cubik:hover {
        width: 14px;
        height: 14px;
        transform: scale(1.1);
        background-color: white;
    }
    .cotrol_box {
        max-width: 90px;
    }
}