.section_3 {
    max-width: calc(300px + (1920 - 300) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    margin: 0 auto;
    margin-top: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title_two_box {
    display: flex;
    justify-content: center;
    /* border: 1px solid yellow; */
    align-items: center;
    margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
}
.title_two_box img {
    max-width: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}
.title_two_box p {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(15px + (42 - 15) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    margin-left: calc((20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))));
    margin-right: calc((20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))));
}
/* ------------------------------------------------------------------------------------------ */
.container_sec_3 {
    width: 1736px;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* --------------------------------review_1---------------------------------- */
.review {
    max-width: calc(200px + (500 - 200) * ((100vw - 320px) / (1920 - 320)));
    /* border: 1px solid yellow; */
    transition: all .4s;
    opacity: .7;
    border-radius: 10px;
    background-color: #0188be6f;
    margin-bottom: calc(20px + (0 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.review:hover {
    transform: scale(1.2);
    background-color: #018ABE;
    opacity: 1;
}
.review p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
    color: white;
}
.container_sec_3 h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    margin-bottom: 15px;
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
}
.container_sec_3 p {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
}

/* -------------------------------------Control---------------------------------------- */
.controls {
    width: 100%;
    min-height: 16px;
    height: 16px;
    margin-top: 40px;
    /* border: 1px solid yellow; */
}
.cotrol_box {
    width: 124px;
    height: 16px;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.control_cubik {
    width: 16px;
    height: 16px;
    background: url(../img/control_cubik_sec_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .2s ease-in;
}
.control_cubik:hover {
    width: 15px;
    height: 15px;
    transform: scale(1.2);
    background: url(../img/Rectangle\ 19.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:1200px) {
    .container_sec_3 {
        justify-content: center;
    }
    .review {
        margin: 20px;
    }
}
@media screen and (max-width:1024px) {
    .review:hover {
        transform: scale(1);
    }
}
