.section_1 {
    max-width: calc(300px + (1296 - 300) * ((100vw - 320px) / (1296 - 320)));
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_section_1 {
    position: relative;
}
.container_title {
    min-width: calc(200px + (587 - 200) * ((100vw - 320px) / (1296 - 320)));
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text_top {
    display: flex;
    justify-content: space-between;
    height: 14px;
    min-width: calc(200px + (429 - 200) * ((100vw - 320px) / (1296 - 320)));
    margin-bottom: calc(10px + (40 - 10) * ((100vw - 320px) / (1296 - 320)));
}
.text_top p {
    display: flex;
    justify-content: center;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    color: white;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(15px + (24 - 15) * ((100vw - 320px) / (1296 - 320)));
    margin: 0 auto;
}
.text_top img {
    width: calc(18px + (24 - 18) * ((100vw - 320px) / (1296 - 320)));
    height: calc(10px + (14 - 10) * ((100vw - 320px) / (1296 - 320)));
}
.text_bottom {
    display: flex;
    min-width: 100%;
}
.text_bottom p {
    margin: 0 auto;
    display: flex;
    max-width: calc(160px + (587 - 160) * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    justify-content: center;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    color: white;
    font-size: calc(18px + (64 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(30px + (89 - 30) * ((100vw - 320px) / (1296 - 320)));
    margin: 0 auto;
 }