.section_1 {
    max-width: 1296px;
    width: 100%;
    min-height: 600px;
    height: 100%;
    border: 1px solid transparent;
    margin: 0 auto;
    margin-top: 50px;
    background: url(../img/background_section_1.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 587px;
    width: 100%;
    min-height: 254px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 136px;
}
.text {
    max-width: 429px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: white;
    margin: 0 auto;
}
.text img {
    max-width: 28px;
    width: 100%;
    min-height: 14px;
    height: 100%;
}
.title {
    width: 100%;
    min-height: 180px;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 64px;
    font-style: normal;
    line-height: 89.6px;
    color: white;
    letter-spacing: 2px;
    line-height: 140%;
}