.section_5 {
    width: 100%;
    margin: 0 auto;
    margin-top: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(320px + (500 - 320) * ((100vw - 320px) / (1920 - 320)));
}
.main_container_section_5 {
    width: 1076px;
    display: flex;
}
.title_sec_5_box {
    width: 100%;
    max-width: calc(320px + (1076 - 320) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
}
.title_sec_5_box p {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: 58.8px;
    color: white;
    margin-left: calc(15px + (45 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(15px + (45 - 15) * ((100vw - 320px) / (1920 - 320)));
}
/* ------------------------------------Container_sec_5--------------------------------------- */

.container_sec_5_one {
    max-width: calc(300px + (416 - 300) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: calc(50px + (0 - 50) * ((100vw - 320px) / (1920 - 320)));
}
.price_container {
    min-width: calc(200px + (416 - 200) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.price_container:first-child {
    margin-top: 0;
}
.price_container a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    color: white;
    margin-left: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.price_container p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    color: white;
}
.price_block {
    display: flex;
    align-items: center;
}
.price_block img {
    max-width: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
}
/* ------------------------------------------------------------------------------- */
.container_sec_5_two {
    max-width: calc(300px + (526 - 300) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(40px + (0 - 40) * ((100vw - 320px) / (1920 - 320)));
    margin: 50px auto;
}
.container_sec_5_two_img {
    max-width: calc(300px + (526 - 300) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
}
.sertifikat {
    max-width: calc(300px + (548 - 300) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.sertifikat a {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(10px + (21 - 10) * ((100vw - 320px) / (1920 - 320)));
    line-height: 29.4px;
    color: white;
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.sertifikat a:hover {
    text-decoration: underline 3px rgb(87, 87, 191);
}
@media screen and (max-width: 980px) {
    .main_container_section_5 {
        display: block;
    }
}