.section_4 {
    width: 100%;
    margin: 0 auto;
    margin-top: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_container {
    max-width: calc(800px + (1076 - 800) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title_sec_4_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
}
.title_sec_4_box img {
    max-width: calc(19px + (28 - 19) * ((100vw - 320px) / (1920 - 320)));
}
.title_sec_4_box p {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: calc(15px + (42 - 15) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    margin-left: calc((20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))));
    margin-right: calc((20px + (45 - 20) * ((100vw - 320px) / (1920 - 320))));
}
/* ---------------------------------Block left---------------------------------------------- */

.block_left {
    max-width: calc(310px + (526 - 310) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.left_top {
    max-width: calc(300px + (526 - 300) * ((100vw - 320px) / (1920 - 320)));
    height: 50%;
    display: flex;
    align-items: center;
    margin-bottom: calc(30px + (165 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.left_bottom {
    width: 100%;
    height: 50%;
}
.left_bottom img {
    max-width: calc(255px + (526 - 295) * ((100vw - 320px) / (1920 - 320)));
}
.text_box_left {
    max-width: calc(295px + (466 - 295) * ((100vw - 320px) / (1920 - 320)));

}
.text_box_left p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: 33.6px;
    color: white;
    margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.text_box_left p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    line-height: 21.4px;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .7;
}
/* -------------------------------------Block right---------------------------------------------- */
.block_right {
    max-width: calc(310px + (526 - 310) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.right_top {
    max-width: calc(300px + (526 - 300) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(30px + (117 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.right_top img {
    max-width: calc(255px + (526 - 255) * ((100vw - 320px) / (1920 - 320)));
}
.right_bottom {
    max-width: calc(300px + (526 - 300) * ((100vw - 320px) / (1920 - 320)));
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text_box_right {
    max-width: calc(295px + (466 - 295) * ((100vw - 320px) / (1920 - 320)));
}
.text_box_right p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: 33.6px;
    color: white;
    margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.text_box_right p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    line-height: 21.4px;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .7;
}
@media screen and (max-width:1640px) {
    .main_container {
       justify-content: space-around;
    }
}
@media screen and (max-width:805px) {
    .main_container {
        display: block;
    }
    .block_right {
        justify-content: center;
        margin-top: 30px;
    }
    .block_left {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .text_box_left {
        margin-top: 35px;
    }
    .left_bottom {
        display: flex;
        justify-content: center;
    }
}