.section_3 {
    max-width: 1736px;
    width: 100%;
    min-height: 585px;
    height: 100%;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.title_two_box {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}
.title_two_text {
    width: 300px;
    height: 59px;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 58.8px;
    color: white;
}
.container_sec_3 {
    width: 100%;
    min-height: 350px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* --------------------------------review_1---------------------------------- */
.review_1 {
    max-width: 500px;
    width: 100%;
    height: 276px;
    /* border: 1px solid yellow; */
    background-color: #003a52;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .4s ease-in-out;
    opacity: .7;
    border-radius: 10px;
}
.review_1:hover {
    background-color: #018ABE;
    transform: scale(1.3);
    opacity: 1;
}
.review_1 p:nth-child(1) {
    width: 410px;
    height: 22px;
    /* border: 1px solid yellow; */
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}
.review_1 p:nth-child(2) {
    width: 410px;
    height: 60px;
    /* border: 1px solid yellow; */
    font-size: 10px;
    color: white;
}
.review_1 p:nth-child(3) {
    width: 410px;
    height: 80px;
    /* border: 1px solid yellow; */
    font-size: 10px;
    color: white;
}
/* --------------------------------review_2---------------------------------- */
.review_2 {
    max-width: 500px;
    width: 100%;
    height: 276px;
    /* border: 1px solid yellow; */
    background-color: #003a52;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .4s ease-in-out;
    opacity: .7;
    border-radius: 10px;
}
.review_2:hover {
    transform: scale(1.3);
    opacity: 1;
    background-color: #018ABE;
}
.review_2 p:nth-child(1) {
    width: 410px;
    height: 22px;
    /* border: 1px solid yellow; */
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}
.review_2 p:nth-child(2) {
    width: 410px;
    height: 60px;
    /* border: 1px solid yellow; */
    font-size: 10px;
    color: white;
}
.review_2 p:nth-child(3) {
    width: 410px;
    height: 80px;
    /* border: 1px solid yellow; */
    font-size: 10px;
    color: white;
}
/* --------------------------------review_3---------------------------------- */
.review_3 {
    max-width: 500px;
    width: 100%;
    height: 276px;
    /* border: 1px solid yellow; */
    background-color: #003a52;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .4s ease-in-out;
    opacity: .7;
    border-radius: 10px;
}
.review_3:hover {
    transform: scale(1.3);
    opacity: 1;
    background-color: #018ABE;
}
.review_3 p:nth-child(1) {
    width: 410px;
    height: 22px;
    /* border: 1px solid yellow; */
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}
.review_3 p:nth-child(2) {
    width: 410px;
    height: 60px;
    /* border: 1px solid yellow; */
    font-size: 10px;
    color: white;
}
.review_3 p:nth-child(3) {
    width: 410px;
    height: 80px;
    /* border: 1px solid yellow; */
    font-size: 10px;
    color: white;
}
/* -------------------------------------Control---------------------------------------- */
.controls {
    width: 100%;
    min-height: 16px;
    height: 16px;
    /* border: 1px solid yellow; */
}
.cotrol_box {
    width: 124px;
    height: 16px;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.control_cubik {
    width: 16px;
    height: 16px;
    background: url(../img/control_cubik_sec_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .2s ease-in;
}
.control_cubik:hover {
    width: 15px;
    height: 15px;
    transform: scale(1.2);
    background: url(../img/Rectangle\ 19.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:1440px) {
    .review_1,.review_2,.review_3 {
        max-width: 450px;
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    .container_sec_3 {
        display: flex;
        flex-direction: column;
    }
    .review_1,.review_2,.review_3 {
        max-width: 500px;
        width: 100%;
        margin: 25px;
    }
}